extends layout

block content
  header.appbar
    h1 Login
    div.status Enter the shared password
  main.container.login
    form.card(method="post" action="/login")
      input(type="hidden" name="next" value=next)
      if error
        p(style="color:#fca5a5") #{error}
      label(for="password") Password
      input#password(type="password" name="password" required)
      button(type="submit") Sign in
  footer.foot
    p If you are not sure about the password, ask the admin.
