extends layout

block content
  header.appbar
    h1 Pad: #{room}
    div.status
      span#users 0 online
      span#sync Synced

  main.container
    textarea#pad(data-room=room placeholder="Start typing… this pad is shared with anyone on key '#{room}'." autofocus)

  footer.foot
    p ⚠️ This is a simple shared text pad. It is <strong>not a secure or encrypted transfer service</strong>. Do not paste secrets.
